{% extends 'base.html' %}

{% block title %}User Details - {{ user.given_name }} {{ user.surname }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3>User Details</h3>
                <div>
                    <a href="{% url 'user_update' user.user_id %}" class="btn btn-warning">Edit</a>
                    <a href="{% url 'user_list' %}" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr><th>ID</th><td>{{ user.user_id }}</td></tr>
                    <tr><th>Name</th><td>{{ user.given_name }} {{ user.surname }}</td></tr>
                    <tr><th>Email</th><td>{{ user.email }}</td></tr>
                    <tr><th>City</th><td>{{ user.city }}</td></tr>
                    <tr><th>Phone</th><td>{{ user.phone_number|default:"-" }}</td></tr>
                    <tr><th>Profile Description</th><td>{{ user.profile_description|default:"-" }}</td></tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}